*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color:rgb(169, 206, 169);
}

#panel{
    overflow: hidden;
    width: 80%;
    height: 80%;
    background-color: #fff;
    border-radius: 10px;
}

#ptop{
    padding: 0px 30%;
    justify-content: space-between;
    color: #fff;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100px;
    background-color: rgb(39, 75, 39);
}

.elem{
    display: flex;
    align-items: center;
    gap: 20px;
}

.elem h2{
    font-weight: 500;
    font-size: 22px;
}

.box{
    color: #000;
    font-weight: 700;
    font-size: 25px;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 5px;
}

#pbtm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:20px;
    padding: 20px;
    width: 100%;
    height: calc(100% - 100px);
}

.bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: rgb(63, 129, 63);
    color: #fff;
    border-radius: 50%;
    font-weight: 500;
}

.bubble:hover{
    cursor: pointer;
    background-color: rgb(39, 54, 39);
}